{# This is the base html file. Its only purpose is to create the general layout of the page #}
{# main.html actually fills the individual parts #}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Base HTML template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ static('cg.css')}}">
    {% endblock head %}
    {% block extracss %}{% endblock extracss %}
</head>
<body>
{% block body %}
<div class="layoutbox" id="outerflexcontainer" style="display:flex; flex-direction:column; height:100%; width:100%;">
    <div class="layoutbox" id="headercontainer" style="flex:0 0;">
        {% block header %}HEADER{% endblock header %}
    </div>
    {% block sub_header %}
    <div class="layoutbox" id="middlerowcontainer"  style="flex:1 1 auto; min-height:10pt; display:flex; flex-direction:row; width:100%;">
        <div class="layoutbox horizonclip" id="sidenavcontainer" style="flex:1 0 auto;">
            Sidenav
        </div>
        <div class="layoutbox" id="mainareacontainer" style="flex:0 1 100%;">
            Main area
        </div>
        <div class="layoutbox" id="monitorscontainer" style="flex:0 0 15%;">
            <div class="layoutbox horizonclip" id="helpcontainer" style="height:50%;">
                Help
            </div>
            <div class="layoutbox horizonclip" id="statuscontainer" style="height:50%;">
                Status
            </div>
        </div>
    </div>
    <div class="layoutbox" id="footercontainer" style="flex:0 0;">
        Footer
    </div>
    {% endblock sub_header %}
</div>
{% endblock body %}
</body>
</html>