body, html {
height:100%;
box-sizing: border-box;
margin:0;
}

.markoutline {
    outline-style: solid;
    outline-color: red;
    outline-width: 1px;
}

.layoutbox{
    box-sizing: border-box;
    margin: 0;
    border-style: none;
    padding: 0;
}

.horizonclip{
overflow-x:hidden;
overflow-y: auto;
}

#sidenavcontainer{
min-width:5em;
max-width:8em;
background-color:#ffff30;
}

#mainareacontainer{
overflow:auto;
background-color: #b0ffff;
}

#helpcontainer{
background-color:#80ffff;
}

#statuscontainer{
background-color:#ffdfff
}

#headercontainer{
background-color: #33ff33;
font-size: 150%;
}

#footercontainer{
background-color: #c0c0c0;
}

.loginerror{
color: red;
}